services:
    odoo:
        # platform: linux/amd64 -> for odoo version <= 16.0 and running on Mac M1 (arm64)
        image: odoo:latest
        env_file: .env
        restart: always
        volumes:
            #- /etc/timezone:/etc/timezone:ro
            #- /etc/localtime:/etc/localtime:ro
            # if you want to install additional Python packages, uncomment this line!
            #- ./entrypoint.sh:/entrypoint.sh
            - ./addons:/mnt/extra-addons/:rw #to provide Odoo with custom addons
            - ./config/odoo:/etc/odoo/:rw #to provide Odoo with the config file
            - ./odoo-web-data:/var/lib/odoo/:rw #to store Odoo data 
        ports:
            - "8069:8069"
            - "8072:8072" # live chat
        depends_on:
            - db
        networks:
          - odoo_network
    
    # Used to serve traffic to the Odoo container, and enables secure HTTPS traffic by generating SSL certificates in conjunction with certbot.
    nginx:
        container_name: nginx
        image: nginx:latest
        restart: unless-stopped
        ports:
            - 80:80
            - 443:443
        volumes:
            - ./config/nginx/conf:/etc/nginx/conf.d/:rw # nginx configs
            - ./config/nginx/inc:/etc/nginx/inc #  include supplementary nginx configurations
            - ./config/nginx/ssl:/etc/nginx/ssl # stores SSL certs and DH params.
            - ./certbot/conf:/etc/letsencrypt # stores Certbot config and certs.
            - ./certbot/www:/var/www/certbot # webroot used by both Certbot and NGINX for ACME challenge.
        depends_on:
            - "odoo"
        networks:
            - odoo_network

    # Used to generate Let's Encrypt certificates and renew them.
    certbot:
        image: certbot/certbot
        volumes:
            - ./certbot/conf:/etc/letsencrypt # shares certificate files with Nginx.
            - ./certbot/www:/var/www/certbot # shares the webroot directory with Nginx for successful ACME challenge.
        
    db:
      image: postgres:16
      restart: always # run as a service
      # environment:
      #   - POSTGRES_PASSWORD=odoo
      #   - POSTGRES_USER=odoo
      #   - POSTGRES_DB=postgres
         - PGDATA=/var/lib/postgresql/data/pgdata
      env_file: .env
      ports:
        - "5432:5432"
      volumes:
        - ./odoo-db-data:/var/lib/postgresql/data #stores postgresql data on the host machine to remain persistent.
      networks:
        - odoo_network
      logging:
        driver: json-file
        options:
          max-size: "30m"
          max-file: "10"

networks:
  odoo_network:
    driver: bridge

volumes:
  odoo-web-data:
  odoo-db-data:
